.header {
  background-color: #FBF3E4;
  display: flex;
  justify-content:space-around;
  height: 80px;
  width: 100%;
}

.heading {
  margin-top: 20px;
  margin-right: 500px;
  font-size: 25px;
  color: #105652;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navBox {
  margin-top: 10px;
}

.nav-item{
  margin-left: 30px;
  font-size: 20px;
  color: #424242;
  text-decoration: none;
  font-family: -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Open Sans',
  'Helvetica Neue',
  sans-serif;
}

.home {
  background-color: #105652;
  height: 477px;
}

.title {
  margin-left: 100px;
  margin-top: 100px;
  float: left;
  font-family: -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Open Sans',
  'Helvetica Neue',
  sans-serif;
}

.hireResume {
  color: #FBF3E4;
  font-family: -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Open Sans',
  'Helvetica Neue',
  sans-serif;
  margin-top: -200px;
  margin-left: 150px;
  float: left;
}

.hireResume button {
  margin-left: 10px;
  color: white;
  text-shadow:0px 0px 10px white;
  width: 150px;
  height: 40px;
  border-radius: 0.8rem;
  border-style: none;
}

.dummy img{
  margin-left: 100px;
  overflow: hidden;
}

.about {
  color: #105652;
  text-align: left;
  margin:50px auto;
  background-color: #ffffff;
  width: 1150px;
  height: 500px;
  font-family: -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Open Sans',
  'Helvetica Neue',
  sans-serif;
  box-shadow: 0px 0px 59px #10565221;
  border-radius: 20px;

}

.about img {
  margin-left: 30px;
  float: left;
}

.aboutMe {
  float: right;
  width: 500px;
  margin-top: 30px;
  margin-right:100px ;
}

hr {
  background-color: #FCA738;
  height: 5px;
}

.library {
  width: 490px;
  height: 100px;
  float:right;
  margin-top: 10px;
  margin-right: 100px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 30px #00000029;
  border-radius: 20px;
}

.logo {
  display: flex;
}

.library img{
  height: 30px;
}

.portfolio {
  margin: auto;
  font-family: -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Open Sans',
  'Helvetica Neue',
  sans-serif;
  color: #105652;
  width: 1000px;
  height: 600px;
}

.portfolio-Box {
  margin-top: 50px;
  display:grid ;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
  row-gap: 30px;
}

.portfolio-item {
  width: 300px;
  height: 200px;
  border-radius: 0.8rem;
  box-shadow: 0px 0px 10px gainsboro;
}

.portfolio-item img{
  border-radius: 0.8rem;
  width: 300px;
  height: 200px;
  
}

.contact-me {
  height: 100vh;
  width: 100%;
  display: flex;
  margin-top: -30px;
}


.first-div {
  text-align: left;
  height: 550px;
  width: 500px;
  margin-top: 50px;
  margin-left: 18%;
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.first-div h2 {
  padding-left: 60px;
  padding-top: 80px;
  color: #105652;
}

.first-div p {
  padding-left: 60px;
  padding-right: 60px;
}

h5 {
  color: #858585;
  padding-left: 60px;
  padding-right: 60px;
}

.second-div {
  text-align: left;
  font-family: -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Open Sans',
  'Helvetica Neue',
  sans-serif;
  height: 550px;
  width: 500px;
  margin-top: 50px;
  background-color: #FBF3E4;
  line-height: 1px;
}

.second-div h2 {
  padding-left: 60px;
  padding-top: 45px;
  color: #105652;
}

form {
  padding-left: 60px;
  margin-top: -10px;
}

label {
  font-size: 15px;
  font-weight: bold;
  opacity: 70%;
  margin-top: 30px;
}

.required:after {
  content: " *";
  color: red;
}

input {
  width: 350px;
  height: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-style: none;
  border-radius: 0.5rem;
}

textarea {
  width: 350px;
  height: 70px;
  margin-top: 10px;
  padding-top: 10px;
  border-style: none;
  border-radius: 0.5rem;
}


button {
  height: 30px;
  width: 200px;
  margin-top: 30px;
  background-color: #FCA738;
  border: none;
  color: white;
  border-radius: 4px;
}

footer {
  margin-top: -50px;
  bottom: 1px;
  height: 50px;
  background-color: #FBF3E4;
}

footer p {
  text-align: center;
  padding-top: 15px;
}